<div class="player-counter">
  <div>
    <label>Введите количество сыщиков: <input [(ngModel)]="playersCount"></label>
  </div>
</div>

<div class="elder-container">

</div>

<div class="detective-list-container">

</div>
